In [2]:
import numpy as np
import pandas as pd
from numpy.random import randn

np.random.seed(101)

# Dataframes

In [6]:
df = pd.DataFrame(randn(5, 4), ['W', 'X', 'Y', 'Z', 'Alpha'], ['a', 'b', 'c', 'd'])

In [7]:
df

              a         b         c         d
W      0.386030  2.084019 -0.376519  0.230336
X      0.681209  1.035125 -0.031160  1.939932
Y     -1.005187 -0.741790  0.187125 -0.732845
Z     -1.382920  1.482495  0.961458 -2.141212
Alpha  0.992573  1.192241 -1.046780  1.292765

In [9]:
df['a']

W        0.386030
X        0.681209
Y       -1.005187
Z       -1.382920
Alpha    0.992573
Name: a, dtype: float64

In [10]:
type(df['a'])

pandas.core.series.Series

In [11]:
df.a

W        0.386030
X        0.681209
Y       -1.005187
Z       -1.382920
Alpha    0.992573
Name: a, dtype: float64

In [12]:
df[['a', 'c']]

              a         c
W      0.386030 -0.376519
X      0.681209 -0.031160
Y     -1.005187  0.187125
Z     -1.382920  0.961458
Alpha  0.992573 -1.046780

In [13]:
df['new'] = randn(5)
df.new

W       -1.467514
X       -0.494095
Y       -0.162535
Z        0.485809
Alpha    0.392489
Name: new, dtype: float64

In [14]:
df

              a         b         c         d       new
W      0.386030  2.084019 -0.376519  0.230336 -1.467514
X      0.681209  1.035125 -0.031160  1.939932 -0.494095
Y     -1.005187 -0.741790  0.187125 -0.732845 -0.162535
Z     -1.382920  1.482495  0.961458 -2.141212  0.485809
Alpha  0.992573  1.192241 -1.046780  1.292765  0.392489

In [15]:
df.rename(columns={'a': 'one', 'c': 'third'}, inplace=True)

In [16]:
df

            one         b     third         d       new
W      0.386030  2.084019 -0.376519  0.230336 -1.467514
X      0.681209  1.035125 -0.031160  1.939932 -0.494095
Y     -1.005187 -0.741790  0.187125 -0.732845 -0.162535
Z     -1.382920  1.482495  0.961458 -2.141212  0.485809
Alpha  0.992573  1.192241 -1.046780  1.292765  0.392489

In [17]:
df.drop('new', axis=1, inplace=True)

In [18]:
df

            one         b     third         d
W      0.386030  2.084019 -0.376519  0.230336
X      0.681209  1.035125 -0.031160  1.939932
Y     -1.005187 -0.741790  0.187125 -0.732845
Z     -1.382920  1.482495  0.961458 -2.141212
Alpha  0.992573  1.192241 -1.046780  1.292765

In [19]:
df.drop('Alpha', inplace=False, axis=0)

        one         b     third         d
W  0.386030  2.084019 -0.376519  0.230336
X  0.681209  1.035125 -0.031160  1.939932
Y -1.005187 -0.741790  0.187125 -0.732845
Z -1.382920  1.482495  0.961458 -2.141212

In [20]:
df.shape

(5, 4)

In [22]:
df.loc['Alpha']

one      0.992573
b        1.192241
third   -1.046780
d        1.292765
Name: Alpha, dtype: float64

In [23]:
df.iloc[2]

one     -1.005187
b       -0.741790
third    0.187125
d       -0.732845
Name: Y, dtype: float64

In [27]:
df.loc['Alpha', 'one']

0.9925734530526948

In [28]:
# the opposite is not allowed
# df.loc['one', 'Alpha']

KeyError: 'Alpha'

In [29]:
df.iloc[1, 1]

1.0351250747739213

In [32]:
df.loc[['Alpha', 'Z'], ['one', 'third']]

            one     third
Alpha  0.992573 -1.046780
Z     -1.382920  0.961458