In [5]:
import numpy as np
import pandas as pd
from numpy.random import randn

np.random.seed(101)

Preparing the data

In [6]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
print(hier_index)
hier_index = pd.MultiIndex.from_tuples(hier_index)
print(hier_index)

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]
MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

# Multi-Level Index / Index Hierarchy

In [7]:
df = pd.DataFrame(randn(6, 2), hier_index, ['A', 'B'])
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [8]:
df.loc['G1'] # everything from G1 cat

          A         B
1  2.706850  0.628133
2  0.907969  0.503826
3  0.651118 -0.319318

In [9]:
df.loc['G1'].loc[1] # first row

A    2.706850
B    0.628133
Name: 1, dtype: float64

As you can see, the columns of those indices have no name:

In [11]:
df.index.names

FrozenList([None, None])

In [12]:
df.index.names = ['Groups', 'Num'] # now they do

In [13]:
df

                   A         B
Groups Num
G1     1    2.706850  0.628133
       2    0.907969  0.503826
       3    0.651118 -0.319318
G2     1   -0.848077  0.605965
       2   -2.018168  0.740122
       3    0.528813 -0.589001

In [18]:
df.loc['G2'].loc[2]

A   -2.018168
B    0.740122
Name: 2, dtype: float64

In [22]:
df.loc['G2'].loc[2]['B']

0.7401220570561068

# Cross-Section

In [23]:
df.xs('G2') # cross-section

            A         B
Num
1   -0.848077  0.605965
2   -2.018168  0.740122
3    0.528813 -0.589001

In [24]:
df.xs(1, level="Num")

               A         B
Groups
G1      2.706850  0.628133
G2     -0.848077  0.605965

## Pandas DataFrame xs() Method

The `xs()` method in Pandas DataFrame is used to return a cross-section from the DataFrame. It allows you to select a row or column based on a specified key value, even if the DataFrame has a MultiIndex.

### Syntax

```python
DataFrame.xs(key, axis=0, level=None, drop_level=True)
```

### Parameters

- `key`: The label or tuple of labels contained in the index, or partially in a MultiIndex.
- `axis`: The axis to retrieve the cross-section from. 0 or 'index' for rows, 1 or 'columns' for columns.
- `level`: In case of a key partially contained in a MultiIndex, specify which levels to use. Levels can be referred to by label or position.
- `drop_level`: If False, returns an object with the same levels as the DataFrame.

### Returns

- A Series or DataFrame containing the cross-section from the original DataFrame corresponding to the selected index levels.

### Examples

```python
import pandas as pd

# Create a sample DataFrame
data = {
    'num_legs': [4, 4, 2, 2],
    'num_wings': [0, 0, 2, 2],
    'class': ['Mammal', 'Mammal', 'Mammal', 'Bird'],
    'animal': ['Cow', 'Elephant', 'Deer', 'Sparrow'],
    'locomotion': ['Walks', 'Walks', 'Walks', 'Flies']
}

df = pd.DataFrame(data)
df = df.set_index(['class', 'animal', 'locomotion'])

# Get cross-section for a specific index
print(df.xs('Mammal'))
```

Output:
```
                num_legs  num_wings
animal locomotion                
Cow     Walks           4         0
Elephant Walks         4         0
Deer    Walks          2         0
```

In this example, `df.xs('Mammal')` returns a cross-section of the DataFrame where the `class` level is 'Mammal'.

The `xs()` method is particularly useful when working with MultiIndex DataFrames, as it allows you to easily retrieve data based on specific index levels[1][2][3][4][5].

Citations:

[1] https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.xs.html

[2] https://www.w3schools.com/python/pandas/ref_df_xs.asp

[3] https://www.w3resource.com/pandas/series/series-xs.php

[4] https://www.geeksforgeeks.org/python-pandas-series-xs/

[5] https://pandas.pydata.org/pandas-docs/version/2.1/reference/api/pandas.DataFrame.xs.html